In [1]:
#  Setup do ambiente

import pandas as pd
import numpy as np

In [40]:
# Carregar datasets
base_dir = 'datasets/'

nba_2018_2019 = pd.read_csv(base_dir + '2018_2019.csv')
nba_2019_2020 = pd.read_csv(base_dir + '2019_2020.csv')
nba_2020_2021 = pd.read_csv(base_dir + '2020_2021.csv')

wnba_2018 = pd.read_csv(base_dir + 'w2018.csv')
wnba_2019 = pd.read_csv(base_dir + 'w2019.csv')
wnba_2020 = pd.read_csv(base_dir + 'w2020.csv')

16

In [50]:
# Limpeza de dados

# Remover entradas duplicadas
## Alguns jogadores jogaram por mais de um time em cada temporada, portanto tem mais de uma entrada na tabela 
## Ja existe uma entrada com os dados agregados para os mesmos, quando a coluna Tm == TOT
## Portanto, para analisar o jogador independente do time deixamos somente a agregada para eles
def remove_duplicate_players(dataset):
    duplicated_player = dataset.duplicated(subset=['Player'])
    aggregated_data = dataset['Tm'] == 'TOT' 
    
    return dataset.drop(dataset[duplicated_player & (-aggregated_data)].index)



without_duplicates = remove_duplicate_players(nba_2018_2019)
without_duplicates.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 29,ORtg,DRtg
699,526,Trae Young\youngtr01,PG,20,ATL,81,81,2503,9.7,23.2,...,5.6,12.1,1.3,0.3,5.7,2.6,28.6,NaN,107.0,117
700,527,Cody Zeller\zelleco01,C,26,CHO,49,47,1243,7.4,13.5,...,13.0,4.0,1.5,1.6,2.4,6.4,19.4,NaN,123.0,111
701,528,Tyler Zeller\zellety01,C,29,TOT,6,1,93,8.5,15.9,...,12.7,2.1,0.5,1.6,2.1,10.6,24.4,NaN,123.0,111
704,529,Ante Žižić\zizican01,C,22,CLE,59,25,1082,8.4,15.2,...,14.7,2.4,0.6,1.0,2.8,5.2,21.1,NaN,116.0,117
705,530,Ivica Zubac\zubaciv01,C,21,TOT,59,37,1040,9.6,17.1,...,16.3,2.8,0.6,2.3,3.2,6.2,23.7,NaN,116.0,108